# Cartelle "inutili"
.venv/
.vscode/
__pycache__/
lib/__pycache__/
utils/__pycache__/
*utils-scarti*/*

# TEST - Data, immagini droni per test, output test, immagini senza distorsione, ecc.
data/*
immagini/immagini_drone/immagini_senza_distorsione/*
immagini/immagini_drone/*
output/*