# Cartelle "inutili"
.venv/
.vscode/
__pycache__/
*/__pycache__/
*.claude/

# TEST - Data, immagini droni per test, output test, immagini senza distorsione, ecc.
data/*
immagini/*
output/*

# File .keep
!data/.keep
!immagini/.keep
!output/.keep